/* 顶部区域  BEGIN*/
.top {
    height          : 60px;
    width           : 100%;
    background-color: black;
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 1000;
}

.top .top-in {
    width              : 1200px;
    margin             : 0 auto;
    height             : 100%;
    /* background-color: yellow; */
}

.top .top-in .top-left {
    float                 : left;
    height                : 100%;
    width                 : 190px;
    /* background-color   : pink; */

}

.top .top-in .top-left h1 {
    width : 100%;
    height: 100%;
}

.top .top-in .top-left h1 a {
    display   : inline-block;
    width     : 100%;
    height    : 100%;
    background: url(../images/nubia-logo.png);
}

.top .top-in .top-right {
    float              : right;
    height             : 100%;
    width              : 740px;
    margin-left        : 50px;
    /* background-color: pink; */
}

.top .top-in .top-right .top-nav {
    float              : left;
    width              : 550px;
    height             : 100%;
    /* background-color: royalblue; */
}

.top .top-in .top-right .top-nav li {
    float: left;
}

.top .top-in .top-right .top-nav li a {
    font-size  : 16px;
    font-weight: bold;
    color      : #fff;
    line-height: 60px;
    margin-left: 40px;
}

/* .top .top-in .top-right .top-nav li a:hover {
    color: #e82c07;
} */
.top ul>li>a:hover {
    color: #e82c07 !important;
}

.top .top-in .top-right .top-login {
    float              : right;
    width              : 150px;
    height             : 100%;
    /* background-color: royalblue; */
}

.top .top-in .top-right .top-login li {
    float      : right;
    line-height: 60px;
    margin-left: 10px;
}

.top .top-in .top-right .top-login li:nth-child(3) {
    width     : 30px;
    height    : 30px;
    background: url("../images/nubia-syb-all.png");
    margin-top: 15px;
}

.top .top-in .top-right .top-login li a {
    color: #ccc;
}

/* .top .top-in .top-right .top-login li a:hover {
    color: #e82c07;
} */

/* 顶部区域  END*/

/* 广告区域 BEGIN*/
.banner {
    height             : 860px;
    width              : 100%;
    /* background-color: green; */
}

.banner .nav-out {
    width      : 100%;
    height     : 121px;
    position   : absolute;
    z-index    : 999;
    background : white;
    padding-top: 60px;
}

.banner .nav {
    width : 1200px;
    height: 121px;
    margin: 0 auto;

    /* 绝对定位下的左右居中的设置方法 */
    /* left       : 50%;
    margin-left: -600px; */

}

.banner .nav ul {
    width        : 100%;
    height       : 100%;
    /* background: yellow; */
    padding      : 0 75px;
    box-sizing   : border-box;
}

.banner .nav ul li {
    width        : 150px;
    height       : 100%;
    /* background: purple; */
    float        : left;
    /* border    : 1px solid #000; */
    box-sizing   : border-box;
    text-align   : center;
}

.banner .nav ul li:hover {
    border-bottom: 2px solid red;
    box-sizing   : border-box;
}

.banner .nav ul li img {
    width     : 120px;
    height    : 80px;
    margin-top: 15px;
}

.banner .nav ul li p {
    color: #666;
}

.banner .figure {
    width      : 100%;
    height     : 600px;
    background : red;
    text-align : center;
    overflow   : hidden;
    position   : relative;
    padding-top: 60px;
}

/* 设置图片的宽度大于父元素的宽度是，居中显示的设置技巧：
margin： 0 -100%；
注意点： 父元素必须设置 text-align: center; */

.banner .figure img {
    height: 100%;
    margin: 0 -100%;
}

.banner .figure ol {
    width        : 150px;
    height       : 20px;
    /* background: red; */
    position     : absolute;
    left         : 50%;
    margin-left  : -75px;
    bottom       : 10px;
}

.banner .figure ol li {
    float        : left;
    width        : 8px;
    height       : 8px;
    background   : #ccc;
    margin-left  : 15px;
    border-radius: 50%;
    border       : 2px solid transparent;
    transition   : all 1s;
}

.banner .figure ol li:hover {
    border    : 2px solid red;
    background: transparent;
    transform : scale(1.5, 1.5);

}

.banner .video {
    width     : 1200px;
    height    : 250px;
    margin    : 0 auto;
    background: skyblue;
    margin-top: 10px;
}

.banner .video ul {
    width          : 100%;
    height         : 100%;
    background     : yellow;
    display        : flex;
    justify-content: space-between;
}

.banner .video ul li {
    float     : left;
    width     : 396px;
    height    : 250px;
    background: black;
    text-align: center;
    overflow  : hidden;
    position  : relative;
}

.banner .video ul li img {
    height: 100%;
    margin: 0 -100%;
}

.banner .video ul li .video-info {
    width     : 100%;
    height    : 155px;
    position  : absolute;
    bottom    : 0;
    /* 
    作用： 设置元素的透明度，0：完全透明；1：完全不透明 
    特点： 子元素也会跟着透明
    */
    opacity   : 0;
    transition: all 1s;
}

.banner .video ul li .video-info img {
    width : 60px;
    height: 60px;
}

.banner .video ul li .video-info h3 {
    font-size  : 16px;
    color      : white;
    line-height: 40px;
}

.banner .video ul li .video-info p {
    color: white;
}

.banner .video ul li:hover .video-info {
    opacity: 1;
}

.banner .video ul li:hover>img {
    opacity: 0.5;
}

.banner .video ul li:hover .video-info>img {
    animation: pm-popup-ant 2s .5s ease-in-out infinite;
}

@keyframes pm-popup-ant {
    20% {
        transform: scale(.8);
    }

    40% {
        transform: scale(1.2);
    }

    60% {
        transform: scale(.9);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

/* 广告区域 END*/

/* 内容区域 BEGIN*/
.content {
    height             : 1883px;
    width              : 100%;
    /* background-color: blue; */
}

.content dl {
    width        : 1200px;
    height       : 100%;
    /* background: green; */
    margin       : 0 auto;
    overflow     : hidden;
}

.content dl dt {
    text-align   : center;
    margin-top   : 40px;
    margin-bottom: 30px;
}

.content dl dt h3 {
    font-size: 35px;
    color    : #333333;
}

.content dl dt p {
    margin-top: 20px;
    color     : #e83401;
}

.content dl dd .content-phone {
    width              : 1200px;
    height             : 1200px;
    /* background-color: yellow; */
}

.content dl dd .content-phone li {
    float     : left;
    background: white;
    position  : relative;
    overflow  : hidden;
}

.content dl dd .content-phone li:nth-child(1) {
    width           : 1200px;
    height          : 395px;
    /* background   : pink; */
    margin-bottom   : 10px;
}

.content dl dd .content-phone li:nth-child(2) {
    width          : 395px;
    height         : 795px;
    /* background  : purple; */
    margin-right   : 10px;
}

.content dl dd .content-phone li:nth-child(3) {
    width           : 795px;
    height          : 390px;
    /* background   : palegoldenrod; */
    margin-bottom   : 10px;
}

.content dl dd .content-phone li:nth-child(4) {
    width          : 390px;
    height         : 395px;
    /* background  : gold; */
    margin-right   : 10px;
}

.content dl dd .content-phone li:nth-child(5) {
    width        : 395px;
    height       : 395px;
    /* background: grey; */
}

.content dl dd .content-phone li img {
    width     : 100%;
    transition: all 1s;
}

.content dl dd .content-phone li:nth-child(1) img {
    margin-top: 60px;
}


.content dl dd .content-phone li .phone-des {
    width      : 200px;
    position   : absolute;
    left       : 50%;
    margin-left: -100px;
    bottom     : 10px;
    text-align : center;
}

.content dl dd .content-phone li .phone-des>h4 {
    font-size: 20px;
    color    : #000;
}

.content dl dd .content-phone li .phone-des>p {
    font-size    : 15px;
    margin-bottom: 10px;
    color        : #999;
}

.content dl dd .content-phone li .phone-des>span {
    display      : inline-block;
    width        : 108px;
    height       : 32px;
    text-align   : center;
    line-height  : 32px;
    border       : 1px solid #ccc;
    border-radius: 10px;
}

.content dl dd .content-phone li:nth-child(1) .phone-des {
    left          : 80%;
    bottom        : 45%;
    /* margin-left: 900px; */
}

.content dl dd .content-phone li:nth-child(1) img {
    margin-left: -100px;
}

.content dl dd .content-phone li:nth-child(1) img:hover {
    margin-left: 0px;
}

.content dl dd .content-phone li:nth-child(3) img {
    margin-left: 100px;
}

.content dl dd .content-phone li:nth-child(3) img:hover {
    margin-left: 0px;
}

.content dl dd .content-phone li:hover .img-scale {
    transform: scale(1.2, 1.2);
}

.content dl dd .content-accessories {
    width              : 1200px;
    height             : 300px;
    /* background-color: yellow; */
    display            : flex;
    justify-content    : space-between;
}

.content dl dd .content-accessories li {
    float     : left;
    width     : 295px;
    height    : 300px;
    background: white;
    overflow  : hidden;
}

.content dl dd .content-accessories li img {
    width     : 100%;
    transition: all 1s;
}

.content dl dd .content-accessories li p {
    text-align: center;
    margin-top: 25px;
}

.content dl dd .content-accessories li:hover img {
    transform: scale(1.2, 1.2);
}



/* 内容区域 END*/

/* 底部区域 BEGIN*/
.footer {
    height          : 396px;
    width           : 100%;
    background-color: white;
    /* background-color: yellow; */
}

.footer .footer-in {
    width              : 1200px;
    height             : 356px;
    /* background-color   : white; */
    margin             : 0 auto;
    /* margin-top      : 40px; */
    border-top         : 1px solid #ccc;
    padding-left       : 100px;
    padding-right      : 100px;
    box-sizing         : border-box;
}

.footer .footer-in .footer-top {
    margin-top: 20px;
}

.footer .footer-in .footer-middle {
    margin-top: 20px;
    width     : 100%;
    overflow  : hidden;
    /* background: pink; */
}

.footer .footer-in .footer-middle dl {
    float: left;
    width: 200px;
}

.footer .footer-middle dl dt {
    font-size  : 14px;
    color      : #000;
    line-height: 30px;
}

.footer .footer-middle dl dd {
    line-height: 20px;
}

.footer .footer-bottom {
    margin-top: 20px;
}

.footer .footer-bottom .footer-copyright {
    float: left;
}

.footer .footer-bottom .footer-copyright li {
    float: left;
}

.footer .footer-bottom .footer-copyright li a {
    font-size: 10px;
    line-height: 30px;
    padding  : 0 10px;
}

.footer .footer-bottom .footer-copyright>li:nth-child(1) a {
    padding-left: 0;
}

.footer .footer-bottom .footer-copyright>li:hover a {
    color: #000;
}

.footer .footer-bottom .footer-social {
    float    : right;
    font-size: 20px;
}

.footer .footer-bottom .footer-social>li {
    float           : left;
    width           : 30px;
    height          : 30px;
    /*企业开发中如果是左浮动, 那么就不要设置左边的margin*/
    margin-right    : 10px;
    background-color: red;
    background      : url("../images/nubia-syb-all.png") no-repeat;

}

.footer .footer-social li:nth-child(1) {
    background-position: -126px 0px;
}

.footer .footer-social li:nth-child(2) {
    background-position: -156px 0px;
}

.footer .footer-social li:nth-child(3) {
    background-position: -186px 0px;
}

.footer .footer-social li:nth-child(4) {
    background-position: -216px 0px;
}

.footer .footer-info{
    padding-top: 50px;
}

/* 底部区域 END*/